ibanInterface/wsdl/ibanService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
	name="IbanService"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:req="http://gsos.com/dimiter_robin/ibanrequest"
	xmlns:rsp="http://gsos.com/dimiter_robin/ibanresponse"
	xmlns:flt="http://gsos.com/dimiter_robin/fault"
	xmlns:srv="http://gsos.com/dimiter_robin"
	xmlns:val="http://gsos.com/dimiter_robin/validationrequest"
	xmlns:vsp="http://gsos.com/dimiter_robin/validationresponse"
	targetNamespace="http://gsos.com/dimiter_robin">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://gsos.com/dimiter_robin/ibanrequest"
				schemaLocation="ibanrequest.xsd"/>
			<xsd:import namespace="http://gsos.com/dimiter_robin/ibanresponse"
				schemaLocation="ibanresponse.xsd"/>
			<xsd:import namespace="http://gsos.com/dimiter_robin/fault"
				schemaLocation="fault.xsd"/>
			<xsd:import namespace="http://gsos.com/dimiter_robin/validationresponse"
				schemaLocation="validationresponse.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="ibanrequest">
		<wsdl:part name="ibanrequest" element="req:ibanrequest"/>
	</wsdl:message>
	
	<wsdl:message name="ibanresponse">
		<wsdl:part name="ibanresponse" element="rsp:ibanresponse"/>
	</wsdl:message>
	
	<wsdl:message name="fault">
		<wsdl:part name="fault" element="flt:fault"/>
	</wsdl:message>
	
	<wsdl:message name="validationresponse">
		<wsdl:part name="validationresponse" element="vsp:validationresponse"/>
	</wsdl:message>
	
	<wsdl:message name="validationrequest">
		<wsdl:part name="validationrequest" element="flt:fault"/>
	</wsdl:message>	
	
	<wsdl:portType name="ibanServiceInterface">
		<wsdl:operation name="toIban">
			<wsdl:input message="srv:ibanrequest"/>
			<wsdl:output message="srv:ibanresponse"/>
			<wsdl:fault name="fault" message="srv:fault"/>
		</wsdl:operation>
		
		<wsdl:operation name="validateIban">
			<wsdl:input message="srv:validationrequest"/>
			<wsdl:output message="srv:validationresponse"/>
			<wsdl:fault name="fault" message="srv:fault"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="ibanServiceBinding" type="srv:ibanServiceInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<wsdl:operation name="toIban">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="validateIban">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
	</wsdl:binding>
	<wsdl:service name="ibanService">
		<wsdl:port name="WS-Port" binding="srv:ibanServiceBinding">
			<soap:address location="http://localhost:8080/ibanService/ibanService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>