ibanInterface/wsdl/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://schemas.org.prolector/powerservice/request"
	targetNamespace="http://schemas.org.prolector/powerservice/request"
	elementFormDefault="qualified">

	<!-- Kandidaat root element -->
	<element name="request">
		<!-- anoniem type -->
		<complexType>
			<sequence>
				<element name="x" type="positiveInteger"/>
				<element name="power" type="positiveInteger"/>
			</sequence>
		</complexType>
	</element>

</schema>